{
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "lf",
  "importOrder": [
    "<BUILTIN_MODULES>",
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/root/(.*)$",
    "",
    "^@/app/(.*)$",
    "",
    "^@/pages/(.*)$",
    "",
    "^@/layouts/(.*)$",
    "",
    "^@/features/(.*)$",
    "",
    "^@/entities/(.*)$",
    "",
    "^@/shared/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators-legacy"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ]
}
